<header class="header">
  <div class="logo">
    <img src="/logo.png" alt="Logo">
    <h1>Cátalogos</h1>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Buscar" [(ngModel)]="termoBusca" (ngModelChange)="buscar()">
    <span class="search-icon" (click)="buscar()">🔍</span>
  </div>
</header>


<div class="carousel">
  <div class="carousel-image">
    <ng-container *ngIf="filmesPopulares.length > 0">
      <img 
        [src]="'https://image.tmdb.org/t/p/original' + filmesPopulares[currentIndex]?.backdrop_path" 
        [alt]="filmesPopulares[currentIndex]?.title">

      <div class="carousel-caption">
        <h2>{{ filmesPopulares[currentIndex]?.title }}</h2>
        <p>{{ filmesPopulares[currentIndex]?.overview }}</p>
        <a [routerLink]="['/sobre-filmes', filmesPopulares[currentIndex]?.id]">
          <button class="detalhes-btn">Ver Detalhes</button>
        </a>
      </div>
    </ng-container>
  </div>
  
  <div class="carousel-dots">
    <span *ngFor="let filme of filmesPopulares; let i = index"
          (click)="goToSlide(i)"
          [class.active]="i === currentIndex"></span>
  </div>
</div>

<!-- 🔍 Catálogo de filmes -->
<main>
  <section class="catalogo-section filmes">
    <h2>Filmes mais populares</h2>
    <div class="catalogo-grid">
 <div *ngFor="let filme of filmesFiltrados" class="catalogo-card">
  <a [routerLink]="['/filme', filme.id]">
    <!-- Badge com foguinho no círculo -->
    <div class="badge-circle">
      🔥
    </div>
    
    <img 
      [src]="'https://image.tmdb.org/t/p/w500' + filme.poster_path" 
      [alt]="filme.title">
    <h3>{{ filme.title }}</h3>
    </a>
  </div>
</div>
  </section>
</main>

<footer class="footer">
  <div>
    <p>© 2025 Catálogos Ford</p>
  </div>
</footer>


